<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>Controller.Public.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDetailController</servlet-name>
        <servlet-class>Controller.Public.ListDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changepassword</servlet-name>
        <servlet-class>Controller.Common.changepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edituser</servlet-name>
        <servlet-class>Controller.Common.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MKTDashboardController</servlet-name>
        <servlet-class>Controller.Marketing.MKTDashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>Controller.Public.ProductListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDetailController</servlet-name>
        <url-pattern>/list-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changepassword</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edituser</servlet-name>
        <url-pattern>/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MKTDashboardController</servlet-name>
        <url-pattern>/mkt-dashboard</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
